<div ng-controller="ContestsCtrl">

    <div style="float: right;"><input type="text" ng-model="search" class="search-query" placeholder="Search"></div>

    <h2>Election List</h2>

    <table>
      <thead>
      <tr>
        <th>Election</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contest in contests | filter:search | orderBy:'name'">
        <td><a href="/contest/<[contest.id]>" ng-click="updateContest(contest)"><[contest.name]></a></td>
        <td><[contest.desc]></td>
      </tr>
      </tbody>
    </table>
</div>
